@import "global";
@import "variables";
@import "mixins";

main.grid-container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 
        1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 
        1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "banner banner banner banner banner banner" 
        "banner banner banner banner banner banner" 
        "banner banner banner banner banner banner" 
        "products products about about contact contact";

    @include breakpoint(tablet) {
        grid-template-columns: 
            1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 
            1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "banner banner banner banner banner banner" 
            "banner banner banner banner banner banner" 
            "banner banner banner banner banner banner" 
            "products products products about about about" 
            "contact contact contact contact contact contact";
    }

    @include breakpoint(mobile) {
        grid-template-columns: 
            1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 
            1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "banner banner banner banner banner banner" 
            "banner banner banner banner banner banner" 
            "products products products products products products" 
            "about about about about about about" 
            "contact contact contact contact contact contact";
    }
}

// btt
.back-to-top {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 5;
    background-image: linear-gradient(to bottom,#33A09E,#227CB3);
    display: none;
    padding: 10px;

    span {
        color: #f5f5f5;
        text-transform: uppercase;
    }
}

.back-to-top.show {
    cursor: pointer;
    display: flex;
}
    
.banner {
    position: relative;
    grid-area: banner;    
    
    background-image: url("/img/singerica.jpg");
    background-image: url("/img/singerica-webp.webp");
    background-repeat: no-repeat;
    background-position: center;
    
    background-size: 100% 100%;
    .banner-box {
        flex-direction: column;
        background-color: #202020;
        z-index: 3;
        padding: 5px 5px 0 5px;
        
        h1 {
            margin: 0;

            display: flex;
            justify-content: center;
            align-items: center;
    
            img {
                height: 100px;
                width: 210px;
    
                @include breakpoint(tablet) {
                    height: 75px;
                    width: 160px;
                }
    
                @include breakpoint(mobile) {
                    height: 50px;
                    width: 110px;
                }
            }
        }
    
        h2.element {
            position: relative;
            z-index: 3;
            letter-spacing: 1px;
            color: #f5f5f5;
            margin: 0;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1.3em;
    
            @include breakpoint(tablet) {
                padding: 5px 0;
                font-size: 1.3em
            }
    
            @include breakpoint(mobile) {
                padding: 5px 0 5px 0;
                font-size: .8em
            }
        }
    }

    &::after {
        content: "";
        background-color: rgba(12, 12, 12, 0.2);
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
  
.products { 
    grid-area: products;
    background-color: #fd267d;
    
    @include breakpoint(mobile) {
        border-bottom: 1px solid #f5f5f5;
    }

}

.about { 
    grid-area: about;
    background-color: #fd267d;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;

    @include breakpoint(mobile) {
        border-bottom: 1px solid #f5f5f5;
        border-right: 0;
        border-left: 0;
    }

}

.about, 
.contact {

    svg {
        @include breakpoint(mobile) {
            width: 30px;
        }
    }
}

.contact { 
    grid-area: contact;
    background-color: #fd267d;

    @include breakpoint(tablet) {
        border-top: 1px solid #f5f5f5;
    }
}

.nav-item {
    position: relative;
    background-color: #fd267d;

    a {
        transition: background-color .3s ease;
        background-color: #fd267d;

        font-size: 1.5em;
        color: #202020;
        font-weight: 700;
        text-transform: uppercase;
        
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include breakpoint(tablet) {
            font-size: 1.3em;
        }
    
        @include breakpoint(mobile) {
            font-size: .9em;
        }
        
        span {
            padding-left: 10px;
            transition: all 0.3s ease 0.2s;
        }

        .svg__icon {
            width: 30px;
            color: #202020;
            transition: all 0.3s ease 0.2s;
        }
    }
    
    .nav-item-conteiner {
        display: flex;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #fd267d;
        justify-content: center;
        align-items: center;
                
        visibility: hidden;

        ///////////
        @include breakpoint(tablet) {
            visibility: visible;

            .nav-item-box a {
                background-color: #fd267d;

    
                svg, span {
                    color: #fff;
                    fill: #fff;
                }
            }
        }
        @include breakpoint(mobile) {
            visibility: visible;

            .nav-item-box a {
                background-color: #fd267d;
    
                svg, span {
                    color: #222;
                    fill: #222;
                }
            }
        }
        
        .nav-item-box {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            
            background-color: #fff;
            height: 100%;

            @include breakpoint(mobile) {
                background-color: transparent;
                margin: 0;

                &:last-child {
                    border-right: 0;
                }
            }
            
            &:first-child {
                border-right: 1px solid #f5f5f5;
            }
            &:last-child {
                border-left: 1px solid #f5f5f5;
            }

            a {
                background-color: #fd267d;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #222;

                @include breakpoint(mobile) {
                    height: 100%;
                    width: 100%;
                    border-radius: 0;
                }

                span {
                    text-align: center;
                    font-size: 1rem;
                    padding: 0;
                    transition: none;

                    @include breakpoint(mobile) {
                        font-size: .9em;
                    }
                }
            }
        }
    }


    &:hover > .nav-item-conteiner {

        visibility: visible;

        .nav-item-box:hover a {
            background-color: #0c6dc7;

            svg, span {
                color: #fff;
                fill: #fff;
            }

        }
    }
    
}

.nav-item:hover {
    cursor: pointer;

    a {
        color: #fff;
        background-color: #15638e;

        svg {
            fill: #fff;
        }
    }
}

// sections
.products-wrapper {
    background-color: #fff;
}

.section-container {
    display: flex;
    flex-direction: column;

    .products-title {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #f5f5f5;

        h2 {
            color: #fd267d;
            text-transform: uppercase;
            font-size: 1.5em;
            text-align: center;
            padding: 30px 0;

            @include breakpoint(tablet) {
                font-size: 1.3em
            }
    
            @include breakpoint(mobile) {
                font-size: 1em
            }
        }
    }

    .products-title__men {
        h2 {
            color: #0c6dc7;
        } 
    }

    .products-title__kids {
        h2 {
            color: #33A09E;
        } 
    }

    .products-container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 5px;
        .products-item {
            flex: 1 1 calc(25% - 20px);

            justify-content: center;
            align-items: center;
            margin: 5px 5px 0 0;
            background-color: #f5f5f5;

            flex-direction: column;
            position: relative;

            .products-item__text {
                flex-direction: column;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.3s ease;          

                width: 100%;
                background-color: rgba(12, 12, 12, 0.4);
                text-align: center;
                color: white;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                top: 0;

                justify-content: center;
                align-items: center;

                .products-item__container {
                    display: flex;
                    width: 100%;
                    background-color: #0c63b4;

                    .container-item {
                        flex: 1;
                        padding: 20px;
                        font-size: 13px;

                        &:nth-child(odd) {
                            background-color: #1170c8;
                        }

                    }
                }

                .container-item__btn {
                    width: 100%;
                    display: flex;
                    background-color: #fd267d;
                    justify-content: center;
                    align-items: center;
                    padding: 20px 0;

                    transition: all 0.3s ease-in-out;

                    svg {
                        width: 30px;
                    }
    
                    h4 {
                        font-size: 1.3em;
                        padding-right: 10px;
    
                        @include breakpoint(tablet) {
                            font-size: 1em;
                        }
    
                        @include breakpoint(mobile) {
                            font-size: .8em
                        }
                    }
    
                    &:hover {
                        background-color: #1170c8;
        
                        h4,
                        svg {
                            color: #f5f5f5;
                        }
                    }
                }

                
            }

            @include breakpoint(tablet) {
                flex: 1 1 calc(33.3333% - 20px);
            }
            @include breakpoint(mobile) {
                flex: 1 1 calc(100% - 20px);
            }

            &:nth-child(4n + 1) {
                margin-left: 5px;
            }

            img {
                // ******** fixing
                height: 500px;
                width: 100%;

                @include breakpoint(tablet) {
                    height: auto;
                }
                @include breakpoint(mobile) {
                    height: auto;
                }
                height: auto;
            }

        }

    }
}

.about-contact-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;

    .about-contact-item {
        flex: 1 1 50%;

        @include breakpoint(mobile) {
            flex: 1 1 100%;
        }

        display: flex;
        justify-content: center;
        align-items: center;

        &:nth-child(1) {
            background: url("/img/sareni-konci.jpg") no-repeat center center;
            background: url("/img/sareni-konci-webp.webp") no-repeat center center;
            background-size: cover;
            padding: 20px;
            .about-text {

                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                padding: 20px;
                background-color: rgba(245, 245, 245, 0.8);

                h3 {
                    font-size: 35px;
                    color: #0c6dc7;
                }

                p {
                    color: #222;
                }
            }
        }

        &:nth-child(2) {
            background-color: #1170c8;

            a {
                color: #f5f5f5;
                font-size: 40px;

                @include breakpoint(mobile) {
                    font-size: 25px;
                }

                &:hover span {
                    color: yellow;
                }
            }

        }
    }
}


footer.footer-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #f5f5f5;
    padding: 50px 0;

    @include breakpoint(mobile) {
        flex-direction: column;
        justify-content: center;
    }

    small {
        @include breakpoint(mobile) {
            margin-bottom: 10px;
            text-align: center;
        }
        span {
            margin: 0;
            padding: 10px 0;
            color: #222;
            display: flex;

            @include breakpoint(mobile) {
                flex-direction: column;
            }

            a {
                margin-left: 5px;
                color: #0c6dc7;
            }
        }
    }
    a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 100px;
        }
        span {
            font-weight: bold;
            font-size: 15px;
            text-transform: uppercase;
            color: #15638e;
        }
    }
}